InterfaceChess/Service References/WhitePiecesService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Running">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathfile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstHit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nocase" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstHitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFirstHitResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFirstHit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nocase" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFirstHitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFirstHitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseDep" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="caseArr" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePieceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovePieceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>