InterfaceChess/Service References/WhitePiecesService/WhitePieces.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WhitePieces" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWhitePieces_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWhitePieces_Running_InputMessage">
    <wsdl:part name="parameters" element="tns:Running" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_Running_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunningResponse" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_GetFirstHit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstHit" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_GetFirstHit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstHitResponse" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_SetFirstHit_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFirstHit" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_SetFirstHit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFirstHitResponse" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_MovePiece_InputMessage">
    <wsdl:part name="parameters" element="tns:MovePiece" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_MovePiece_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovePieceResponse" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IWhitePieces_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IWhitePieces">
    <wsdl:operation name="Running">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/Running" message="tns:IWhitePieces_Running_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/RunningResponse" message="tns:IWhitePieces_Running_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstHit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/GetFirstHit" message="tns:IWhitePieces_GetFirstHit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/GetFirstHitResponse" message="tns:IWhitePieces_GetFirstHit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFirstHit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/SetFirstHit" message="tns:IWhitePieces_SetFirstHit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/SetFirstHitResponse" message="tns:IWhitePieces_SetFirstHit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovePiece">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/MovePiece" message="tns:IWhitePieces_MovePiece_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/MovePieceResponse" message="tns:IWhitePieces_MovePiece_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/Stop" message="tns:IWhitePieces_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/StopResponse" message="tns:IWhitePieces_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhitePieces/Ping" message="tns:IWhitePieces_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhitePieces/PingResponse" message="tns:IWhitePieces_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWhitePieces" type="tns:IWhitePieces">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Running">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/Running" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstHit">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/GetFirstHit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFirstHit">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/SetFirstHit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePiece">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/MovePiece" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IWhitePieces/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWhitePieces" type="tns:IWhitePieces">
    <wsp:PolicyReference URI="#NetTcpBinding_IWhitePieces_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Running">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/Running" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstHit">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/GetFirstHit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFirstHit">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/SetFirstHit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePiece">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/MovePiece" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IWhitePieces/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WhitePieces">
    <wsdl:port name="BasicHttpBinding_IWhitePieces" binding="tns:BasicHttpBinding_IWhitePieces">
      <soap:address location="http://localhost:8083/WhitePieceService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWhitePieces" binding="tns:NetTcpBinding_IWhitePieces">
      <soap12:address location="net.tcp://localhost:8093/WhitePieceService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8093/WhitePieceService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CGI\yv.tremblay</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>